#Calendar1 .fc-toolbar-title {
    color: azure;
}

#Calendar1 .fc-media-screen {
    margin-left: 50px;
    width: 1200px;
    height: 1000px;
}

#Calendar1 .fc-button-primary {
    background-color: #6EB5D6 !important;
}

#Calendar1 .fc-col-header {
    color: #6EB5D6 !important;
}

#Calendar1 .fc-daygrid-body {
    color: #ADD8E6;
}

.popup-window {
    position: fixed;
    top: 20%;
    left: 20%;
    margin-left: 300px;
    margin-top: 1%;
    z-index: 1000;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;

    /* Set the height of the popup window */
    overflow: hidden;
    /* Prevent scrolling */
}

.popup-content {
    height: 100%;
    color: white;
    /* Set the height of the popup content to 100% */
}